:root {
  --shiki-color-text: theme('colors.white');
  --shiki-token-constant: theme('colors.violet.300');
  --shiki-token-string: theme('colors.violet.300');
  --shiki-token-comment: theme('colors.zinc.500');
  --shiki-token-keyword: theme('colors.sky.300');
  --shiki-token-parameter: theme('colors.pink.300');
  --shiki-token-function: theme('colors.violet.300');
  --shiki-token-string-expression: theme('colors.violet.300');
  --shiki-token-punctuation: theme('colors.zinc.200');
}

/* Adjusts the width of the scrollbar */
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Styles the scrollbar handle */
::-webkit-scrollbar-thumb {
  background-color: #a8a8a8;
  border-radius: 4px; /* Optional: adds rounded corners to the thumb */
  border: 3px solid transparent;
}

/* Styles the scrollbar handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(165, 137, 250, 0.514);
}

#discussion {
  color: transparent;
  margin: 0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
